@import "tailwindcss/base";
@import "custom-props.css";
@import "reset.css";
/* Global styles */
html {
  @apply scroll-smooth;
}
body,
#root {
  @apply h-screen bg-light text-dark text-size-1 font-sans;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 900;
}

h1 {
  @apply text-size-4;
}

h2 {
  @apply text-size-3;
}

h3 {
  @apply text-size-2;
}

p,
li {
  max-width: 70ch;
}

h1 {
  max-width: 15ch;
}

h2,
h3 {
  max-width: 30ch;
}

a {
  color: currentcolor;
  text-decoration-color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}

/* Prose */
h2,
h3 {
  --flow-space: var(--space-size-3);
}

h2 + *,
h3 + * {
  --flow-space: var(--space-base);
}

/* So text scale renders nicely */
div[class*="text-"] {
  --flow-space: 1rem;
  line-height: 1;
  font-weight: 700;
}

button,
input[type="submit"] {
  @apply rounded-md border-2 border-dark p-2;
}

button[data-type="icon"] {
  @apply border-none;
}

svg {
  @apply w-6 h-6;
}

::selection {
  @apply text-light bg-primary rounded;
}

::-webkit-scrollbar {
  @apply w-3 h-3;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-primary;
}
