.burger-menu {
  @apply relative flex items-center;
}

.burger-menu ul {
  box-shadow: 0 -0.1rem 0.3rem 0 rgb(0 0 0 / 0.1), 0 -0.1rem 0.2rem -0.1rem rgb(0 0 0 / 0.1);
  @apply absolute right-0 top-6 z-50 flex flex-col gap-size-1 p-size-1 rounded bg-light;

  @apply md:border-none md:static md:flex-row md:shadow-none;
}

/*
(optional styles)

.burger-menu ul li {
  @apply border-2 border-dark rounded px-1 text-dark font-semibold;
}
.burger-menu ul:before {
  content: "";
  top: -0.5rem;
  left: -0.5rem;
  @apply w-full h-full absolute border-2 rounded border-dark  pointer-events-none;
  @apply md:hidden;
}
.burger-menu ul:after {
  content: "";
  top: 0.5rem;
  left: 0.5rem;
  @apply w-full h-full absolute border-2 rounded border-dark  pointer-events-none;
  @apply md:hidden;
}
*/

.burger-menu button {
  @apply z-50 block md:hidden;
}
