.item-detail {
  @apply overflow-hidden relative flex flex-col flex-wrap gap-size-1 p-size-1 rounded shadow bg-gray-200;
}
/* .item-detail > *{
  flex: 1 1 50%;
} */
.item-detail .item-recipe :is(p, li) {
  @apply break-words;
}
.item-info {
  @apply flex justify-evenly items-center flex-wrap gap-size-5;
}
.item-info > * {
  @apply md:flex-1
}
.meal-info {
  @apply space-y-1;
}
.item-info .meal-info img {
  @apply md:float-left md:w-96 rounded-xl mr-size-0;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  shape-outside: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.item-info .buy-item {
  @apply clear-both flex flex-col items-center gap-size-0 border-double border-2 border-black  p-size-1 rounded;
  box-shadow: 5px 5px 0px 1px theme("colors.black"),
    10px 10px 0px 1px theme("colors.primary"),
    15px 15px 0px 1px theme("colors.secondary");
}

.item-recipe {
  @apply flex flex-wrap gap-size-0 items-stretch;
}

.item-recipe > * {
  @apply space-y-size-0 grow shrink;
}

.item-recipe .ingredients {
  @apply shrink grow-0;
  flex-basis: 50%;
}
.item-recipe .instructions {
  @apply grow;
}
